---
layout: post
---

{{ content }}

<style type="text/css" media="screen">
    .container {
        margin: 10px auto;
        max-width: 600px;
        text-align: center;
    }

    .container h5 {
        margin-top: 50px;
        font-size: 2em;
    }

    .container p {
        margin-bottom: 20px;
    }
</style>

<div class="container">
    <h5>Disclaimer</h5>
    <p>If you come across any errors in this post or have any questions, please feel free to shoot an email to the
        address supplied at the bottom of the page.</p>
</div>